$img-card-with: 215px;
$img-card-height: 215px;

$img-input-preview-height: 300px;


/* input style */
.image-picker {
	
	.preview > img {
		max-width: 100%;
		max-height: $img-input-preview-height;
	}
	
	.custom-file {
		margin-top: 1.5rem;
	}
	
}

/* card style */
.card .view.overlay {
	overflow: initial;
	
	> img {
		width: $img-card-with;
		height: $img-card-height;
		object-fit: cover;
	}
}